.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 4px 2px;
  text-decoration: none;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div {
  width: 60%;
  height: 600px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  background-color: aquamarine;
  -webkit-box-shadow: 12px 14px 47px 7px rgba(0,0,0,0.61);
  -moz-box-shadow: 12px 14px 47px 7px rgba(0,0,0,0.61);
  box-shadow: 12px 14px 47px 7px rgba(0,0,0,0.61);
}

body {
  background-color:#8eba8a;
}

img {
  border: 10px solid black;
  width : 30%;
  height : 30%;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 50px;
  border-radius: 25px;
  background-color: #ffffff
}
#textbox {
  -webkit-box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px #FF0000, 10px 36px 17px 7px rgba(0,0,0,0); 
  box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px #FF0000, 10px 36px 17px 7px rgba(0,0,0,0);
  background: #FFFFFF;
  }
  body#tinymce {
  background: #FFFFFF
  }

  h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    letter-spacing: -0.6px;
    word-spacing: -2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    }

h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
  letter-spacing: -0.6px;
  word-spacing: -2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.footer{
  color:black;
  font-size:20px;
  font: bold;
  text-align: center;
  position:fixed;
  bottom:0;
  left:50%;
  margin-left:-200px;
  width:400px;
  height:10%;
}